.button {
    @include size ($width: 200px, $height: 60px);
    @extend %border-radius;
    @extend %transition;
    @extend %cursor-pointer;
    background-color: transparent;
    border: 1px solid $color-button-border;
    font-weight: bold;

    &:hover {
        @include color-and-bgc ($color: $color-dark, $bgc: $color-light);
    }
}

.button_colored {
    border: none;
    background-color: $color-primary;

    &:hover {
        background-color: $color-button-colored-hovered;
    }
}