.button {
    @include size ($width: 200px, $height: 60px);
    @extend %border-radius;
    @extend %transition;
    background-color: transparent;
    border: 1px solid $color-button-border;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: $color-light;
        color: $color-dark;
    }
}

.button_colored {
    border: none;
    background-color: $color-primary;

    &:hover {
        background-color: $color-button-colored-hovered;
    }
}