.carousel-controls-container {
    @include flex ($justify: center, $align: center);
}

.carousel-controls {
    min-width: 100px;
    height: 20px;
    @include flex ($justify: space-between, $align: center);

    &__control {
        @include size ($width: 20px, $height: 20px);
        @extend %border-radius;
        @extend %transition;
        cursor: pointer;
        background-color: $color-light;

        &:hover {
            box-shadow: inset 0 0 0 1px $color-dark;
            background-color: $color-primary;
        }

        &:active {
            box-shadow: inset 0 0 0 2px $color-add;
            background-color: $color-button-colored-hovered;
        }
    }
}