.img-block {
    position: relative;
    display: flex;
    width: 100%;
}

.img-container {
    width: 100%;
    @include flex($justify: flex-start);
}

.section-img {
    width: 100%;
    max-width: 500px;
}