.input {
    @extend %border-radius;
    @extend %transition;
    width: 100%;
    background-color: $color-input-background;
    outline: none;
    border: none;
    @include font ($size: 14px, $weight: normal, $family: $font-text, $case: none, $color: $color-add-transp);
    padding: 20px 20px;

    &:focus {
        box-shadow: 0 0 0 2px $color-primary;
    }
}