.logo {
    &-svg {
        @extend %transition;
        @extend %rounding;
        & path {
            @extend %transition;
        }
    }

    &-svg:hover {
        background-color: $color-primary;
        box-shadow: 0 0 20px $color-dark;
        animation: wheelRotation 2s infinite forwards linear;
        & path {
            fill: $color-light;
        }
    }
}

@keyframes wheelRotation {
    100% {
        transform: rotate(360deg);
    }
}