.socials {
    display: flex;
}

.social-ico-ref,
.svg-container {
    @include size($width : 60px, $height: 60px);
    @extend %rounding;
}

.svg-container {
    @include flex ($align: center, $justify: center);
    margin-bottom: 20px;
    @extend %border-ico;
    @extend %transition;

    &_instagram {
        position: relative;
        z-index: 1;

        &:before {
        content: '';
        position: absolute;
        @include size($width : 100%, $height: 100%);
        background: $color-instagram;
        z-index: -1;
        opacity: 0;
        @extend %rounding;
        @extend %transition;
        }
    }
}

.social-ico-ref:hover {
    .svg-container {
        &_facebook {
            background: $color-facebook;
        }
        &_twitter {
            background: $color-twitter;
        }

        &_instagram:before {
            opacity: 1;
        }
    }
}