html{
    font-size: 10px;
    font-family: $font-text;
}

nav {
    @include font($size: 1.2rem, $case: uppercase);
}

h1 {
    @include font($size: 9.6rem, $family: $font-title, $case: uppercase, $color: $color-light);
}

h2 {
    @include font($size: 3.6rem, $family: $font-title, $case: uppercase);
}

h4 {
    @include font($size: 1.2rem, $weight: bold, $case: uppercase);
    letter-spacing: 4px;
}

button {
    @include font($size: 1.2rem, $case: uppercase, $color: $color-light);
}

.section-subheader {
    @include font($size: 1.8rem, $weight: bold);
}

.section-text {
    @include font($size: 1.4rem);
}