@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Banny Bold Round";
  font-style: normal;
  font-weight: normal;
  src: local("Banny Bold Round"), url("../assets/fonts/Banny/Banny-BoldRound.woff") format("woff");
}
.gallery__img, .menu__nav > li, .navbar__links li a, .input, .arrow-button__container, .svg-container_instagram:before, .svg-container, .button, .logo-svg path, .logo-svg {
  transition: 350ms;
}

.arrow-button__container, .svg-container_instagram:before, .social-ico-ref,
.svg-container, .logo-svg {
  border-radius: 50%;
}

.input, .button, .frame {
  border-radius: 5px;
}

.arrow-button__container, .svg-container {
  border: 1px solid #33333380;
}

.copyright, .menu__nav > li, .intro, .section-text, .section-subheader, h2 {
  text-align: center;
}

.alter-section h2, .alter-section .section-subheader, .alter-section .section-header, .alter-section .section-text, .alter-section .subtitle {
  color: #ffffff;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

nav {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

h1 {
  font-size: 9.6rem;
  font-weight: normal;
  font-family: "Banny Bold Round", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-size: 3.6rem;
  font-weight: normal;
  font-family: "Banny Bold Round", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 4px;
}

button {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.section-subheader {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  color: #000000;
  line-height: 28px;
  margin: 0 0 15px;
}

.section-text {
  font-size: 1.4rem;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  color: #000000;
  line-height: 24px;
}

.header-divider {
  width: 60px;
  height: 5px;
  border-radius: 50px;
  background-color: #E8C300;
  margin: 20px 0;
}

.frame {
  position: absolute;
  width: 54%;
  height: 54%;
  max-width: 250px;
  max-height: 250px;
  border: 20px solid #E8C300;
  filter: drop-shadow(0px 0px 100px #000000);
  right: -12%;
  z-index: 20;
}

.frame_left {
  left: -12%;
}

.logo-svg:hover, .logo-svg:active {
  background-color: #E8C300;
  box-shadow: 0 0 20px #000000;
  animation: wheelRotation 2s infinite forwards linear;
}
.logo-svg:hover path, .logo-svg:active path {
  fill: #ffffff;
}

@keyframes wheelRotation {
  100% {
    transform: rotate(360deg);
  }
}
.wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

.img-block {
  position: relative;
  display: flex;
  width: 100%;
  padding: 50px;
}

.img-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.img-container_right {
  justify-content: flex-end;
}

.section-img {
  width: 100%;
  box-shadow: 0 0 10px #00000080;
}

.working-hours {
  display: flex;
  color: #ffffff;
}
.working-hours p {
  display: flex;
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.2rem;
}

.button {
  width: 200px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #ffffff80;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
}

.button_colored {
  border: none;
  background-color: #E8C300;
}
.button_colored:hover {
  background-color: #efff0e;
}

.socials {
  display: flex;
}

.social-ico-ref,
.svg-container {
  width: 60px;
  height: 60px;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.svg-container_instagram {
  position: relative;
  z-index: 1;
}
.svg-container_instagram:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  z-index: -1;
  opacity: 0;
}

.social-ico-ref:hover .svg-container_facebook {
  background: #1c3ba0;
}
.social-ico-ref:hover .svg-container_twitter {
  background: #1ea5e4;
}
.social-ico-ref:hover .svg-container_instagram:before {
  opacity: 1;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.arrow-button__container {
  cursor: pointer;
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.arrow-button__container:hover {
  background-color: #E8C300;
}
.arrow-button__svg path {
  width: 100%;
}

.input {
  width: 100%;
  background-color: #e5e5e5;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  color: #33333380;
  padding: 20px 20px;
}
.input:focus {
  box-shadow: 0 0 0 2px #E8C300;
}

.date-input {
  text-transform: uppercase;
  flex-direction: row;
}

.select-input {
  position: relative;
  -webkit-appearance: none;
}

.textarea-input {
  resize: none;
  min-height: 120px;
}

.subtitle-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.subtitle-container .subtitle {
  color: #ffffff;
}

.layout-2-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.layout-2-columns > * {
  flex-basis: 42%;
}
.layout-2-columns .section-img-block {
  flex-basis: 50%;
}

.block-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.block-layout > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout-3-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.layout-3-columns > * {
  flex-basis: calc(100% / 3 - 10px);
}

.layout-4-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.layout-4-columns > * {
  flex-basis: 25%;
}

section {
  padding: 50px 0;
}

.section-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

nav {
  position: absolute;
  width: 100%;
}

.navbar__list {
  list-style: none;
  align-items: flex-start;
}

.list-column {
  padding: 40px 0;
}

.navbar__links {
  display: flex;
  list-style: none;
}
.navbar__links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 30px 20px;
}
.navbar__links li a:hover {
  color: #E8C300;
  background-color: #33333380;
}

.navbar__logo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.intro {
  background: url("../assets/img/backgrounds/header-bg.png") no-repeat center;
  background-size: cover;
  min-height: 700px;
  padding-top: 160px;
}
.intro__header {
  margin: 50px 0 0;
}
.intro__hours {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row;
  flex-basis: 5%;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.intro__hours p {
  display: flex;
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.2rem;
}
.intro__arrow-button {
  margin: 100px 0 0;
  padding-bottom: 10px;
}

.header__main-title {
  flex-basis: 85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.header__main-title .main-title__main-header {
  margin: 10px 0 0;
}

.main-title__buttons {
  margin-top: 25px;
}
.main-title__buttons button:last-child {
  margin-left: 40px;
}

.header__socials {
  flex-basis: 5%;
  flex-direction: column;
}

.our-team {
  background: url("../assets/img/backgrounds/our-team-bg.png") no-repeat center;
  background-size: cover;
}

.specialties {
  background: url("../assets/img/backgrounds/specialties-bg.png") no-repeat center;
  background-size: cover;
}

.book-a-table__book-form {
  flex-basis: 47%;
}

.book-form {
  width: 100%;
}

.row > * {
  flex-basis: 49%;
  margin-bottom: 10px;
}

.section-layout .columns-row > * {
  flex-direction: row;
}

.button-submit {
  width: 100%;
}

.menu__nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}
.menu__nav > li {
  font-size: 18px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #333333;
  padding: 20px 20px;
  cursor: pointer;
  position: relative;
  width: 120px;
}
.menu__nav > li:not(:first-child) {
  border-left: 1px solid #33333320;
}
.menu__nav > li:hover {
  background-color: #E8C300;
  color: #ffffff;
}
.menu__nav > li:hover:not(:first-child) {
  border-left: 1px solid transparent;
}

.menu__table {
  margin: 50px 0 0;
}

.cell > * {
  justify-content: flex-start;
  align-items: flex-start;
}
.cell__name {
  position: relative;
  overflow: hidden;
  flex-basis: 70%;
}
.cell__title, .cell__price {
  font-size: 18px;
  font-weight: normal;
  font-family: "Banny Bold Round", sans-serif;
  text-transform: uppercase;
  color: #333333;
}
.cell__subtitle {
  color: #33333380;
}
.cell__price {
  text-align: end;
  flex-basis: 30%;
  color: #333333;
}

.private-events {
  background: url("../assets/img/backgrounds/private-events-bg.png") no-repeat center;
  background-size: cover;
}
.private-events__event-layout {
  flex-direction: row;
  flex-basis: 50%;
}
.private-events__left-img {
  justify-content: flex-end;
}
.private-events__name {
  writing-mode: vertical-lr;
  transform: rotate(0deg);
  width: 70px;
  height: 100%;
  font-size: 24px;
  font-weight: normal;
  font-family: "Banny Bold Round", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: absolute;
  background-color: #000000;
  top: 0;
  right: 0;
  padding: 30px 10px;
}
.private-events__name_rotated-opposite {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  left: 0;
}

.events-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.events-contacts__contact {
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  color: #ffffffe6;
}
.events-contacts__number {
  font-weight: bold;
}

.gallery {
  padding: 0;
}
.gallery__wrapper {
  max-width: 100%;
  padding: 0;
}
.gallery__img {
  position: relative;
  min-width: 1%;
  max-width: 100%;
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 8px #eb1deb;
}

.under-contacts-layout > * {
  flex-basis: 50%;
  align-items: center;
}

.contact {
  padding-bottom: 0;
}
.contact__under-contacts {
  padding-right: 5px;
}
.contact__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
}
.contact-text {
  font-size: 11px;
}
.contact-ico {
  display: block;
  margin-right: 6px;
}
.contact-ico_location {
  width: 11px;
  height: 15px;
  background: url("../assets/icons/contacts/location.svg") no-repeat center;
  background-size: cover;
}
.contact-ico_phone {
  width: 14px;
  height: 13px;
  background: url("../assets/icons/contacts/phone.svg") no-repeat center;
  background-size: cover;
}
.contact-ico_mail {
  width: 15px;
  height: 15px;
  background: url("../assets/icons/contacts/mail.svg") no-repeat center;
  background-size: cover;
}

.contact__map {
  width: 100%;
  margin-top: 50px;
  height: 400px;
}

.google-map {
  height: 100%;
  width: 100%;
}

.footer {
  padding: 40px 0;
  background-color: #000000e6;
}

.copyright {
  font-size: 14px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
