@import "abstracts/fonts";
@import "abstracts/constants";
@import "abstracts/mixins";
@import "abstracts/placeholders";

@import "base/normalize";
@import "base/typography";
@import "base/divider";
@import "base/frame";
@import "base/logo";
@import "base/wrapper";
@import "base/img";
@import "base/burger-menu";
@import "base/working-hous";
@import "base/button";
@import "base/socials";
@import "base/arrow-button";
@import "base/carousel-controls";
@import "base/input";
@import "base/input-date";
@import "base/input-select";
@import "base/input-textarea";
@import "base/subtitle";

@import "layouts/2-columns";
@import "layouts/3-columns";
@import "layouts/4-columns";
@import "layouts/section-layout";
@import "layouts/section-alter-layout";

@import "components/navbar";
@import "components/intro";
@import "components/our-team";
@import "components/specialties";
@import "components/book-a-table";
@import "components/menu";
@import "components/private-events";
@import "components/gallery";
@import "components/contact";
@import "components/footer";