// Colors
$color-primary: #E8C300;
$color-logo: #FFD600;

$color-input-background: #e5e5e5;
$color-footer-background: #000000e6;

$color-light: #ffffff;
$color-light-transp: #ffffffe6;
$color-dark: #000000;

$color-add: #333333;
$color-add-transp: #33333380;

// Fonts
$font-title: 'Banny Bold Round', sans-serif;
$font-text: 'Open Sans', sans-serif;


// Screens
$width-desktop: 1440px;
$width-laptop: 768px;
$width-desktop: 375px;

