// Colors
$color-primary: #E8C300;
$color-logo: #FFD600;

$color-input-background: #E5E5E5;
$color-footer-background: #000000e6;

$color-light: #FFFFFF;
$color-semi-dark: #333333;
$color-dark: #000000;

// Fonts
$font-title: 'Banny Bold Round', sans-serif;
$font-text: 'Open Sans', sans-serif;


// Screens
$width-desktop: 1440px;
$width-laptop: 768px;
$width-desktop: 375px;
