// Colors
$color-primary: #E8C300;

$color-input-background: #e5e5e5;
$color-footer-background: #000000e6;

$color-button-border:#ffffff80;
$color-button-hovered: #ffffff80;
$color-button-colored-hovered: #efff0e;

$color-light: #ffffff;
$color-light-transp: #ffffffe6;
$color-dark: #000000;
$color-dark-transp: #00000080;

$color-add: #333333;
$color-add-transp: #33333380;
$color-add-extra-transp: #33333320;

$color-facebook: #1c3ba0;
$color-twitter: #1ea5e4;
$color-instagram: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);

// Fonts
$font-title: 'Banny Bold Round', sans-serif;
$font-text: 'Open Sans', sans-serif;


// Screens
$width-laptop: 1200px;
$width-tablet: 900px;
$width-tablet-small: 650px;
$width-mobile: 450px;
$width-mobile-small: 350px;

