@font-face {
    font-family: 'Banny Bold Round';
    font-style: normal;
    font-weight: normal;
    src: local('Banny Bold Round'), url('../assets/fonts/Banny/Banny-BoldRound.woff') format('woff');
    }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');