.book-a-table__book-form {
    flex-basis: 47%;
    @include media-tablet-small {
        width: 100%;
    }
}

.book-form {
    width: 100%;
}

.row > * {
    flex-basis: 49%;
    margin-bottom: 10px;
}

.section-layout .columns-row > * {
    flex-direction: row;
}

.button-submit {
    width: 100%;
}

.book-a-table__img-block {
    @include media-tablet-small {
        display: none;
    }
}

.columns-row {
    @include media-mobile {
        flex-direction: column;
    }
}