.menu__nav-container {
    @include flex ($justify: center, $align: center, $direction: row);
}

.menu__nav {
    @include flex ($justify: center, $align: center, $direction: row);
    @extend %list-style-none;
    flex-wrap: wrap;

    & > li {
        @include font ($size:18px, $weight: bold, $family: $font-text, $case: uppercase, $color: $color-add);
        @extend %text-center;
        @extend %transition;
        @extend %cursor-pointer;
        padding: 20px 20px;
        position: relative;
        width: 120px;

        &:not(:first-child) {
            border-left: 1px solid $color-add-extra-transp;
        }

        &:hover {
            background-color: $color-primary;
            color: $color-light;
        }

        &:hover:not(:first-child) {
            border-left: 1px solid transparent;
        }
    }
}

.menu__link {
    user-select: none;
}

.menu__nav .menu__link_active {
    background-color: $color-primary;
    color: $color-light;
}

.menu__table {
    margin: 50px 0 0;
    flex-wrap: wrap;

    & > * {
        flex-basis: calc(100% / 3 - 30px);
    }

    @include media-tablet {
        & > * {
            flex-basis: calc(100% / 2 - 30px);
        }
    }

    @include media-tablet-small {
        & > * {
            flex-basis: 100%;
        }
    }

    &:after {
        content: '';
        width: calc(100% / 3 - 30px);
    }
}

.cell {
    margin-bottom: 20px;
    & > * {
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__name {
        position: relative;
        overflow: hidden;
        flex-basis: 60%;
    }

    &__title,
    &__price {
        @include font ($size: 18px, $weight: normal, $family: $font-title, $case: uppercase, $color: $color-add);
    }

    &__subtitle {
        color: $color-add-transp;
    }

    &__price {
        text-align: end;
        flex-basis: 40%;
        color: $color-add;
    }
}