nav {
    position: absolute;
    width: 100%;
}

.navbar__list {
    list-style: none;
    align-items: flex-start;
    justify-content: space-between;

    .list-column {
        @include media-tablet {
            display: none;
        }
    }
}

.list-column {
   padding: 40px 0;
}

.navbar__links {
    display: flex;
    list-style: none;

    & li a {
        @extend %transition;
        text-decoration: none;
        color: $color-light;
        font-weight: bold;
        padding: 30px 20px;
        &:hover {
            color: $color-primary;
            background-color: $color-add-transp;
        }
    }
}

.navbar__logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    margin-top: 10px;
    @include media-tablet-small {
        left: calc(50% - 35px);
    };

    .logo-svg {
        @include media-tablet-small {
            @include size(70px, 70px);
        };
    }
}
