nav {
    position: absolute;
    width: 100%;

    @include media-tablet {
        background-color: $color-add-little-transp;
        position: fixed;
        z-index: 9999;
    }
}

.nav__burger-menu {
    margin: 7px 0 7px;

}

.navbar__list {
    @extend %list-style-none;
    @extend %transition;
    align-items: flex-start;
    justify-content: space-between;
    @include media-tablet {
        // visibility: hidden;
        position: fixed;
        flex-direction: column;
        max-width: 250px;
        height: 100vh;
        background-color: $color-nav-mobile-background;
        padding: 50px 0 0 0;
        left: -100%;
        top: 0;
        z-index: 600;
        justify-content: flex-start;
        box-shadow: 0 0 20px $color-dark;
        overflow-y: auto;
    }

    > * {
        @include media-tablet {
            flex-basis: 0%;
        }
    }
}

.navbar__list_active {
    left: 0;
}

.list-column {
    padding: 40px 0;
    @include media-tablet {
        padding: 0;
        width: 100%;
    }

    .navbar__links {
        @include media-tablet {
            display: flex;
            flex-direction: column;
        }
    }
}

.navbar__links {
    @extend %list-style-none;
    display: flex;

    & li a {
        @extend %transition;
        text-decoration: none;
        color: $color-light;
        font-weight: bold;
        padding: 30px 20px;
        display: block;
        &:hover {
            @include color-and-bgc($color: $color-primary, $bgc: $color-add-transp);
            @include media-tablet {
                @include color-and-bgc($color: $color-light, $bgc: $color-primary);
            }
        }
        @include media-tablet {
            padding: 10px 10px 10px $wrapper-padding;
            font-size: 3rem;
        }
    }
}

.links-right {
    justify-content: flex-end;
}

.navbar__logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 0;
    @include media-tablet {
        margin: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .logo-svg {
        @include media-tablet {
            @include size(30px, 30px);
        }
    }
}
