.private-events {
    @include bg-img($url: '../assets/img/backgrounds/private-events-bg.png');

    &__event-layout {
        flex-direction: row;
        flex-basis: 50%;
    }

    &__left-img {
        justify-content: flex-end;
    }

    &__name {
        @include vertical-rotate ($deg: 0deg);
        @include size($height: 100%, $width: 70px);
        @include font ($size: 2.4rem, $weight: normal, $family: $font-title, $case: uppercase, $color: $color-light);
        @include flex ($justify: flex-start, $align: center, $direction: row);
        position: absolute;
        background-color: $color-dark;
        top: 0;
        right: 0;
        padding: 30px 10px;

        @include media-mobile {
            font-size: 1.5rem;
        };

        &_rotated-opposite {
            @include vertical-rotate ($deg: 180deg);
            left: 0;
        }
    }
}

.events-contacts {
    @include flex ($justify: center, $align: center, $direction: row);
    @extend %text-center;

    &__contact {
        @include font ($size: 14px, $weight: normal, $family: $font-text, $color: $color-light-transp);
    }

    &__number {
        font-weight: bold;
    }
}