.layout-2-columns {
    width: 100%;
    @include flex($justify: space-between);
    & > * {
        flex-basis: 42%;
    }

    & .section-img-block {
        flex-basis: 50%;
    }
}

.block-layout {
    @include flex($justify: space-between, $align: center);
    & > * {
        @include flex($justify: center, $align: center, $direction: column);
    }
}
