.layout-3-columns {
    width: 100%;
    @include flex ($justify: space-between);
    & > * {
        flex-basis: calc(100% / 3 - 10px);
    }

    @include media-tablet-small {
        & > * {
            flex-basis: 100%;
        }
    }
}